<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permssion.RECEIVE_BOOT_COMPLETED" />

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".local.LocalActivity" />

        <receiver android:name=".normal.NormalReceiver">
            <intent-filter>
                <action android:name="NORMAL_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".system.SystemReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ordered.OrderedReceiver$OrderedOneReceiver">
            <intent-filter android:priority="3000">
                <action android:name="ORDERED_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ordered.OrderedReceiver$OrderedTwoReceiver">
            <intent-filter android:priority="2000">
                <action android:name="ORDERED_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ordered.OrderedReceiver$OrderedThreeReceiver">
            <intent-filter android:priority="1000">
                <action android:name="ORDERED_RECEIVER" />
            </intent-filter>
        </receiver>

        <activity android:name=".androidO.AndroidOActivity" />
        <receiver android:name=".androidO.AndroidOReceiver" >
            <intent-filter>
                <action android:name="ANDROID_O" />
            </intent-filter>
        </receiver>

    </application>

</manifest>